.appointments .ant-layout-header {
  background-color: #f0f2f5;
}

.appointments .ant-layout-header p {
  font-size: 2rem;
}

.appointments .ant-layout-content {
  margin: 0 16px;
}

.appointments .ant-tabs {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  padding: 24px;
  background: #fff;
  text-align: center;
}

.events {
  list-style: none;
  margin: 0;
  padding: 0;
}
.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}
.notes-month {
  text-align: center;
  font-size: 28px;
}
.notes-month section {
  font-size: 28px;
}