.nonauth-menu {
  display: flex;
  border-bottom: 1px solid #e4e4e4;
  background-color: white;
}

.nonauth-menu .logo {
  display: inline-block;
}

.nonauth-menu .logo img {
  vertical-align: middle;
  height: 29px;
  margin: 1em;
}

.nonauth-menu ul {
  border: none;
  float: right;
  margin-top: 0.8em;
}

.nonauth-menu .menu-container {
  width: 100%
}

.ant-affix {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.authmenu-logo .small {
  display: block;
  margin: 1em auto;
  width: 32px;
}

.authmenu-logo .normal {
  display: block;
  margin: 1em auto;
  width: 150px;
}