.password-forget .ant-card {
  max-width: 300px;
  margin: 10% auto;
  border-radius: 5px;
}

.password-forget .ant-card-body {
  padding: 24px 24px 0 24px;
}

.password-forget button {
  width: 100%;
}